@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.navbar-wrapper {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 20;
}

.navbar-wrapper.dark {
  background-color: rgba(32, 31, 49, 0.5);
  border: none;
}

.navbar-brand {
  width: 200px;
}

.movies-logo {
  height: 100%;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.btn-login {
  background-color: #ffbf5e;
  color: #fff;
  padding: 0.4rem 1.25rem;
  border-radius: 8px;
  border: 1px solid #ffbf5e;
}

.btn-login:hover {
  background-color: transparent;
  color: #ffbf5e;
  border: 1px solid #ffbf5e;
}

.btn-search {
  color: #fff;
  background-color: #ffbf5e;
  position: absolute;
  bottom: 8px;
  right: 8px;
  border: 1px solid #ffbf5e;
  border-radius: 8px;
}

.btn-search:hover {
  background-color: #201f31;
  color: #ffbf5e;
}

.btn-toggle {
  color: #fff;
  background-color: #ffbf5e;
  border: 1px solid #ffbf5e;
  border-radius: 8px;
  padding: 5px;
}

.mobile-btn-login {
  color: #fff;
  background-color: #ffbf5e;
  border: 1px solid #ffbf5e;
  border-radius: 8px;
  padding: 5px;
}

.btn-mobile-search {
  color: #fff;
  background-color: #ffbf5e;
  position: absolute;
  bottom: 11px;
  right: 8px;
  border: 1px solid #ffbf5e;
  border-radius: 8px;
  padding: 5px;
}

@media (min-width: 640px) and (max-width: 768px) {
  .movies-logo {
    content: url("./assets/mobile-logo.png");
    width: 100px;
  }
}
